<div class="mx-auto max-w-7xl p-6">
  <div class="grid grid-cols-12 gap-y-10 md:gap-x-8 lg:gap-12">
    <div class="col-span-12 lg:col-span-5 flex flex-col gap-4">
      <h2 class="text-2xl font-bold text-(--text)">
        <img class="h-14" src="images/logo.svg" alt="Delivafasta" />
      </h2>
      <p class="text-(--text-secondary) text-sm leading-relaxed max-w-sm">
        Create accountability in the transport sector, enhance mobility and ease of accessing
        various transport modes
      </p>
      <!--      <div class="flex gap-4 mt-2">-->
      <!--        <i class="pi pi-linkedin cursor-pointer hover:text-primary transition-colors text-xl"></i>-->
      <!--        <i class="pi pi-twitter cursor-pointer hover:text-primary transition-colors text-xl"></i>-->
      <!--        <i class="pi pi-instagram cursor-pointer hover:text-primary transition-colors text-xl"></i>-->
      <!--      </div>-->
    </div>

    <div class="col-span-12 md:col-span-4 lg:col-span-2 flex flex-col gap-4">
      <h6 class="font-bold leading-tight mb-2 uppercase text-xs tracking-wider text-primary">
        Quick Links
      </h6>
      <div class="flex flex-col gap-3 text-sm">
        <a routerLink="/" class="nav-link-footer">Home</a>
        <a routerLink="/about" class="nav-link-footer">About us</a>
        <a routerLink="/impact" class="nav-link-footer">Contact us</a>
      </div>
    </div>

    <div class="col-span-12 md:col-span-4 lg:col-span-3 flex flex-col gap-4">
      <h6 class="font-bold leading-tight mb-2 uppercase text-xs tracking-wider text-primary">
        Get In Touch
      </h6>
      <div class="flex flex-col gap-4 text-sm">
        <div class="flex gap-3 items-start">
          <span
            class="flex items-center justify-center min-w-9 h-9 bg-zinc-100 dark:bg-zinc-700 rounded-full"
          >
            <i class="pi pi-map-marker text-lg"></i>
          </span>
          <span class="text-(--text) leading-tight">Nairobi, Kenya<br />Mombasa Rd, ICD Road</span>
        </div>

        <a href="tel:+254785700700" class="flex gap-3 items-center group">
          <span
            class="flex items-center justify-center w-9 h-9 bg-zinc-100 dark:bg-zinc-700 rounded-full group-hover:bg-primary/10"
          >
            <i class="pi pi-whatsapp text-lg group-hover:text-primary"></i>
          </span>
          <span class="font-medium text-(--text)">+254 785 700 700</span>
        </a>
      </div>
    </div>
  </div>
  <div class="border border-(--border)/50 border-t my-5"></div>
  <div class="flex justify-between items-center w-full">
    <div class="flex gap-2 text-(--text-secondary)">
      <p>Privacy Policy</p>
      <p>Terms and Conditions</p>
    </div>

    <div>{{year}} &copy; DelivaFasta</div>
  </div>
</div>
